body{

    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0; 
    background-color:#010110 ;



}




.Log_In
{
    width: 100%;
    color: #ddd;
    padding-left: 50px;
    padding-top: 90px;
    padding-bottom: 70px;

}
.Log_In .info {
    float: left;
    width: 50%;
    height: 150px;
    padding-left: 500px;
}

.Log_In .info h2 {
        padding-bottom: 50px;
    font-size: 50px;
        color: #f34646;
}
.Log_In .info input {
     width: 415px;
    margin-bottom: 28px;
    height: 41px;
    border: -1px solid #615959;
    border-radius: 24px;
    padding-left: 19px;
    font-size: 21px;
    font-weight: lighter;
    background: center;
    color: #f34646;
    


}



.btn_1 {
     width: 220px;
    margin-bottom: 18px;
    margin-top: 333px;
    margin-left: -647px;
    margin-right: 0px;
    height: 60px;
    border: 0px solid #030303;
    border-radius: 50px;
    font-size: 39px;
    font-weight: lighter;
    background-color: #e53636;
}

