body{

	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0; 
	background-color:#010110 ;



}




.Sign_up
{
    width: 100%;
    color: #ddd;
    padding-left: 50px;
    padding-top: 90px;
    padding-bottom: 70px;

}
.Sign_up .info {
    float: left;
    width: 50%;
    height: 150px;
    padding-left: 500px;
}

.Sign_up .info h2 {
	    padding-bottom: 50px;
    font-size: 50px;
        color: #f34646;
}
.Sign_up .info input {
     width: 415px;
    margin-bottom: 28px;
    height: 41px;
    border: -1px solid #615959;
    border-radius: 24px;
    padding-left: 19px;
    font-size: 21px;
    font-weight: lighter;
    background: center;
    color: #f34646;
    


}


.btn {
     width: 120px;
    margin-bottom: 18px;
    margin-top: 562px;
    margin-left: -658px;
    margin-right: -30px;
    height: 60px;
    border: 6px solid #030303;
    border-radius: 12px;
    font-size: 21px;
    font-weight: lighter;
    background-color: #92747c;
}
.btn_1 {
    width: 120px;
    margin-bottom: 18px;
    margin-top: 370px;
    margin-left: 50px;
    margin-right: 0px;
    height: 60px;
    border: 6px solid #030303;
    border-radius: 12px;
    font-size: 21px;
    font-weight: lighter;
   background-color: #e53636;
}

